.App {
  text-align: center;
}

.progress-bar {
  width: 200px;
  border: thick solid green;
}

.progress-bar .progress {
  width: 10%;
  border: thin solid red;
}

.App-logo {
  animation: App-logo-spin 5s 1s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
